#container {
    position: relative;
    z-index: 10;
    transition: all 0.5s;
}

.header {
    background-color: $cWhite;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-open {
    & #container {
        transform: translate(-230px, 60px);
        box-shadow: 0 8px 40px -10px $cBlack;
    }

    & .mobile-menu__item {
        transform: none;
        opacity: 1;
    }
        
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 60px;
    padding: 0 30px;

    &__item {
        list-style: none;
        display: block;
        transform: translate3d(0, 0, -1000px);
        padding: 0 40px;
        transition: transform 0.3s, opacity 0.2s;
        opacity: 0;
    }

    &__link {
        display: block;
        margin-top: 30px;

        & > a {
            color: $cSubTitle;
            @extend .font-md;
            text-decoration: none !important;
        }
    }
}

.mobile-menu__btn {
    margin: auto 10px;
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;


    & > span {
         background-color: $cBlack;
         width: 35px;
         height: 2px;
         display: block;
         margin-bottom: 9px;
         transition: transform 0.7s;

         &:last-child {
        margin-bottom: 0;
         }
    }
}

.menu-open {
    margin: auto 10px;
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    & .mobile-menu__btn {
        & > span {
             &:nth-child(1) {
                 transition-delay: 70ms;
                transform: translateY(11px) rotate(135deg);
             }
             &:nth-child(2) {
                transform: translateX(-18px) scaleX(0);    
             }
             &:nth-child(3) {
                 transition-delay: 70ms;
                transform: translateY(-11px) rotate(-135deg);    
             }
        }
    }
}
